.comment{
  position: relative;
  width: 300px;
  display: grid;
  color: white;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'image name'
'image tag'
'text text';
  align-items: center;
  padding: 30px 30px;

  border-radius: 20px;

  backdrop-filter: blur(10px);
  background-color: rgba(245, 245, 245, 0.03);

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 1px solid transparent;
    opacity: 0.3;
    background: linear-gradient(45deg,#7C6FCF,#6FCF97) border-box;
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  @media screen and (max-width: 1468px) {

    width: 100%;
    *.comment__image{
      width: 90px !important;
      height: 90px !important;
    }
    *.comment__authorName{
      font-size: 1.5rem;
    }
    *.comment__tagName{
      margin-top: -2.8rem;
      font-size: 1.2rem;
    }
    *.comment__text{
      font-size: 1.2rem;
    }

  }
  @media screen and (max-width: 500px) {
    width: 100%;
    *.comment__image {
      width: 60px !important;
      height: 60px !important;
    }
    *.comment__authorName{
      font-size: 1.5rem;
    }
    *.comment__tagName{
      margin-top: -2.3rem;
      font-size: 1.5rem;
    }
    *.comment__text{
      font-size: 1.5rem;
    }

  }

}
.comment__image{
  margin-right: 10px;
  grid-area: image;
  width: 48px;
  border-radius: 50%;
}
.comment__authorName{
  font-size: 1.2rem;
  grid-area: name;
  line-height: 1;
}
.comment__tagName{
  font-size: 1rem;
  grid-area: tag;
  line-height: 1;
  margin-top: -10px;
  color: rgba(242, 242, 242, 0.4);
}
.comment__text{
  width: 100%;
  font-size: 1.1rem;
  white-space: pre-wrap;
  line-height: 1;
  //border: 1px solid white;
  margin-top: 10px;
  grid-area: text;
}

.commentList{
  position: absolute;
  top: 50%;
  right: 10%;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  & > article{
    margin-bottom: 30px;
  }
  & > article:nth-child(2){
    left: -190px;
  }
  & > article:nth-child(4){
    left: -190px;
  }
  @media screen and (max-width: 1468px) {
    margin: 30px 0 0 0;
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    translate: none;
    //border: 1px solid white;
    & > article{
      background: red;
      width: 100% !important;
      left: 0 !important;
      margin-bottom: 30px;
    }



  }

}
.slider{
  width: 100%;
}
.slide{
  display: block;

}