button{
  border: none;
  background-color: transparent;
  font-size: 2.4rem;
  outline: none;
  cursor: pointer;
}
.gradient{
  position: relative;
  border-radius: 10px;
  padding: 10px;
  color: #1a1a1a;
  width: 100%;
  background: linear-gradient(to right,#7C6FCF 10%, #74AEAA 80%, #6FCF97 100%);
  transition: .2s ease;
  &:hover{
    box-shadow: 0 0 90px 1px rgba(111, 207, 151, 0.34);
  }
}