@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
html, body{
  padding: 0;
  margin: 0;
  height: 100%;

}

html{
  font-size: 16px;
  
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

body{
  background: #1a1a1a;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  box-sizing: border-box;
}

a{
  cursor: pointer;
  text-decoration: none;
}
